# permissions to do viewer kconfigs.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kconfig-viewer-role
rules:
- apiGroups:
  - kconfigcontroller.atteg.com
  resources:
  - kconfigs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kconfigcontroller.atteg.com
  resources:
  - kconfigs/status
  verbs:
  - get
