# permissions for end users to view kconfigbindings.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: kconfigbinding-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: kconfig-controller
    app.kubernetes.io/part-of: kconfig-controller
    app.kubernetes.io/managed-by: kustomize
  name: kconfigbinding-viewer-role
rules:
- apiGroups:
  - kconfigcontroller.atteg.com
  resources:
  - kconfigbindings
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kconfigcontroller.atteg.com
  resources:
  - kconfigbindings/status
  verbs:
  - get
