# permissions to do viewer kconfigbindings.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kconfigbinding-viewer-role
rules:
- apiGroups:
  - kconfigcontroller.atteg.com
  resources:
  - kconfigbindings
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kconfigcontroller.atteg.com
  resources:
  - kconfigbindings/status
  verbs:
  - get
